*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(https://w0.peakpx.com/wallpaper/262/707/HD-wallpaper-transparency-art-leaves-bright-colors-texture-yellow-leaf.jpg);
    /* background-image: url("https://thumbs.dreamstime.com/b/cartoon-teacher-talking-phone-191444215.jpg"); */
    /* background-image: url(); */
    background-size: cover;

}
.temp-img
{
    height: 100px;
    width: 20px;
    flex:1;
    margin-right:40px;
    /* overflow: hidden; */
    /* display: flex;
    flex-direction: row;
    align-content: center; */
        padding-left: 700px;

}
.temp-img>img{
    height: 400px;
    width: 400px;
    border:5px solid black;
    border-radius: 150px;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-content: center;
    /* padding-left: 1000px; */

}
.temp-img:hover img{
    transform: scale(1.3);
}




.contact .content
{
max-width: 800px;
text-align: center;
}
.contact .content h2{
    font-size: 40px;
    font-weight: 800;
    color: rgb(223, 15, 143);
    /* text-decoration:double; */
}

.contact .content p{
    font-weight: 300;
    color: black;
}
.container
{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.phone
{
    margin-left: -22px;
}

.container .contactinfo .box .icons
{
min-width: 60px;
height: 60px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
font-size: 22px;
}
.container .contactinfo .box .text h3
{
    display: flex;
    margin-left: 20px;
    font-size: 28px;
    text-decoration: underline;
    color: #e23c09;
    /* flex-direction: column; */
  font-weight: 300;
}
.container .contactinfo .box .text p
{
    display: flex;
    margin-left: 20px;
    font-size: 14px;
    color: #481edf;
    /* flex-direction: column; */
  font-weight: 300;
}

.contactform
{
    width: 40%;
    padding: 40px;
    background:white;
    border-radius: 20px;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactform .inputbox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
     border: none; 
    /* border-radius: 10px; */
    border-bottom:2px solid #333 ;
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left:0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputbox input:focus ~span,
.contactform .inputbox input:valid ~span,
.contactform .inputbox textarea:focus ~span,
.contactform .inputbox textarea:valid ~span
{
    color: #f7250a;
    font-size: 15px;
    transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]
{
    width: 80px;
    background-color: rgb(72, 72, 179);
    color: #fff;
    /* cursor: none; */
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}
.contactform .inputbox input[type="submit"]:hover{
    background-color: greenyellow;
    color: black;

}
