*
{
    font-family: 'Poppins';
    
}
body{
    /* background-image: url("classroom.jpeg"); */
    /* background-size: cover; */
    /* backdrop-filter: blur(5px); */
}

.container
{
    margin-top: 50px;
    margin-left: 450px;
    margin-right: 450px;
    width: 550px;
    border: 5px solid black;
    border-radius: 30px;
    /* background-color: rgb(207, 207, 85); */
    background-color: 219C90;
    box-shadow: 15px 30px 50px black;
    
    
}

label
{

    margin: 10px;
    position: relative;
    float: bottom;
    padding-left: 25px;
    gap:20px;
    font-size: 20px;

}
.signup>.sign1>.sign2>.sign3>.sign4
{
  position: relative;
  gap: 10px;
  height: 500px;
}
.sign1
{
    padding-left: 20px;
    margin-left: 29px;
}
.sign2
{
    padding-left: 20px;
    margin-left: 20px;
    margin-top: 20px;
    gap:10px;
}
.sign3
{
    padding-left: 20px;
    margin-left: -12px;
    margin-top: 20px;

}
.sign4
{
    padding-left: 20px;
    margin-left: -18px;
    margin-top: 20px;

}
   

label{
    padding-left: 20px;
    /* display:none; */


}
button
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    margin-left: 160px;
    gap: 30px;
    margin-top: 40px;
    background-color: rgb(72, 72, 179);
    border-radius: 2px;
    font-size: 15px;
}
button:hover
{
    background-color: greenyellow;
    
}
h2{
    align-items: center;
    text-decoration:underline;
    color: rgb(35, 13, 233);
    padding-left:190px ;
    font-size: 50px;
}
.form-signup
{
  position: relative;
    /* align-items: center; */
    left: 90px;
}
p{
    margin-left: 120px;
    font-weight: 5px;
}

